language: python
sudo: false
cache: pip
#
python:
  - "3.4"
  - "2.7"

branches:
  only:
    - master

env:
  - DJANGO="django>=2.0,<2.1"
  - DJANGO="django>=1.11,<1.12"

matrix:
  exclude:
    - python: "2.7"
      env: DJANGO="django>=2.0,<2.1"

# command to install requirements
install:
  - pip install -e .[users]
  - pip install -r requirements-test.txt

before_script:
  - ./runflake8
  - ./runisort

# command to run tests, e.g. python setup.py test
script:
  - coverage run --source=openwisp_utils runtests.py

after_success:
  coveralls
